
@{
    ViewBag.Titulo = "Inicio";
    Layout = "~/Views/Shared/AnonimoLayout.cshtml";
}

<body>
    <div class="container text-center">
        <h1 class="mb-5">Sistema para la administración de Consorcios</h1>
        <a href="/home/ingresar" class="mt-5 btn-inicio">Ingresar</a><br />
        <a href="/home/registrarse" class="btn-inicio">Registrarse</a><br /><br /><br /><br /><br />
        <img src="~/Img/logo-ppal-b.png" />
    </div>
</body>