
@{
    ViewBag.Titulo = "Inicio";
    Layout = "~/Views/Shared/_LayoutPageBase.cshtml";
}

<body>
    <div class="container text-center">
        <h1>Sistema para la administración de Consorcios</h1>
        <a href="/home/ingresar">Ingresar</a><br />
        <a href="/home/registrarse">Registrarse</a><br /><br /><br /><br /><br />
        <img src="~/Img/logo-ppal.png" />
    </div>
</body>