
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio</title>
</head>
<body>
    <div> 
        <h1>Sistema para la administración de Consorcios</h1>
        <a href="/home/ingresar">Ingresar</a><br />
        <a href="/home/registrarse">Registrarse</a>
    </div>
</body>
</html>
