@using System.Web.Optimization
@using DataAccessLayer
@model DataAccessLayer.Modelos.Unidad
@{
    ViewBag.Titulo = "Eliminación de Unidades";
    Layout = "~/Views/Shared/LogueadoLayout.cshtml";
}


<div class="container text-center">
    <div class="recuadro recuadro-elimnar">
        <p>Esta seguro que desea eliminar la unidad "@Model.Nombre" del consorcio "@Model.Consorcio.Nombre" ?</p>
        <form action="/unidad/darDeBajaUnidad" method="post">
            <input hidden name="id" value="@Model.IdUnidad" />

            <button type="submit" class="btn btn-primary btn-danger mr-4">Eliminar</button>
            <button type="submit" formaction="/unidad/listarUnidades/@Model.IdConsorcio" formmethod="get" class="btn btn-primary btn-primary ml-4">Cancelar</button>
        </form>
    </div>
</div>