@using Entidades
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AgregarConsorcio</title>
</head>
<body>
    <div>
        <form action="/consorcio/agregarConsorcio" method="post">
            <label>Nombre *</label><br />
            <input name="Nombre" value="" /><br /><br />

            <label>Provincia *</label><br />
            <select name="IdProvincia" size="1">
                @foreach (Entidades.Provincia provincia in ViewData["listadoProvincias"] as List<Provincia>)
                {
                    <option value="@provincia.IdProvincia">@provincia.Nombre</option>
                }
            </select><br /><br />

            <label>Ciudad *</label><br />
            <input name="Ciudad" value="" /><br /><br />

            <label>Calle *</label><br />
            <input name="Calle" value="" /><br /><br />

            <label>Altura *</label><br />
            <input name="Altura" value="" /><br /><br />

            <label>Dia Venc. Expensas *</label><br />
            <input name="DiaVencimientoExpensas" value="" /><br /><br />


            <button type="submit">Guardar</button><br />
            <button type="submit" formaction="/consorcio/agregarConsorcio/1">Guardar y Crear otro Consorcio</button><br /> @*//flag*@
            <button type="submit" formaction="/consorcio/agregarConsorcio/2">Guardar y Crear Unidades</button><br />
            <button type="submit" formaction="/consorcio/listarConsorcio" formmethod="get">Cancelar</button>

        </form>
    </div>
</body>
</html>