@using DataAccessLayer
@model List<DataAccessLayer.Modelos.Consorcio>
@{
    ViewBag.Titulo = "Listado de Consorcios";
    Layout = "~/Views/Shared/_LayoutPageLogin.cshtml";
}

@*@section HeadScripts{
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#example').DataTable();
            });
        </script>
    }*@

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="~/Scripts/DTables/datatables.min.js"></script>







<body>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#Consorcios').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad"
                    }
                }
            });
        });

    </script>






    <div class="container mb-5">
        <div class="pb-5">
            <h1>Listado de consorcios</h1>
            <a href="/consorcio/agregarConsorcio">Nuevo Consorcio</a>

            <table class="table table-striped table-hover" id="Consorcios">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Provincia</th>
                        <th>Ciudad</th>
                        <th>Unidades</th>
                        <th>Expensas</th>
                        <th>Gastos</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                @foreach (DataAccessLayer.Modelos.Consorcio consorcio in Model)
                {
                    <tr>
                        <td>@consorcio.Nombre</td>
                        <td>@consorcio.Provincia.Nombre</td>
                        <td>@consorcio.Ciudad</td>
                        <td><a href="/unidad/listarUnidad/@consorcio.IdConsorcio">Ver Unidades</a></td>
                        <td><a href="/expensa/listarExpensa/@consorcio.IdConsorcio">Ver Expensas</a></td>
                        <td><a href="/gasto/listarGasto/@consorcio.IdConsorcio">Ver Gastos</a></td>
                        <td><a href="/consorcio/modificarConsorcio/@consorcio.IdConsorcio"><img src="~/Img/editar.png" /></a></td>
                        <td><a href="/consorcio/eliminarConsorcio/@consorcio.IdConsorcio"><img src="~/Img/borrar.png" /></a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
