@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

@section Encabezado{
    <container class="anonimo">

        <a class="nav-link" href="/home/inicio">Inicio</a>

    </container>
}

@RenderBody()
