@using System.Web.Optimization
@using DataAccessLayer
@model DataAccessLayer.Modelos.Gasto
@{
    ViewBag.Titulo = "Eliminación de Gasto";
    Layout = "~/Views/Shared/LogueadoLayout.cshtml";
}


<div class="container text-center">
    <div class="recuadro recuadro-elimnar">
        <p>Esta seguro que desea eliminar el gasto "@Model.Nombre" ?</p>
        <form action="/gasto/DarDeBajaGasto" method="post">
            <input hidden name="id" value="@Model.IdGasto" />

            <button type="submit" class="btn btn-primary btn-danger mr-4">Eliminar</button>
            <button type="submit" formaction="/gasto/verGastos" formmethod="get" class="btn btn-primary btn-primary ml-4">Cancelar</button>

        </form>
    </div>
</div>
